.form {
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("/imgs/tashkent.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.form form {
    padding: 30px;
    border-radius: 30px;
    width: 100%;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(10px);
}

.login-btn {
    width: 100px;
    padding: 20px;
    margin-top: 10px;
}